local: 
  db: 
    type: 
    host: 
    port: 
    username: 
    password: # 需要单独指明为字符串
    database: 
    autoLoadEntities: 
    synchronize: 


test: 
  db: 
    type: 
    host: 
    port: 
    username: 
    password: 
    database: 
    autoLoadEntities: 
    synchronize: 

production: 
  db: 
    type: 
    host: 
    port: 
    username: 
    password: # 需要单独指明为字符串 
    database: 
    autoLoadEntities: true # 默认为true,若修改为false,则需手动维护传入TypeOrmModule.forRoot()配置对象的entities数组
    synchronize: true # 生产环境，此项一定为false


